<!DOCTYPE html>
<html>

<head>
$partial("templates/head.html")$
<title>Fania</title>
</head>

<body class="index">

<header id="header" class="alt">
	<h1><a href="index.html" class="logo">Fania.uk</a>
		<span class="icon fa-heart"></span>
	</h1>
	<nav id="nav">
		<ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="uni.html">Uni</a></li>
      <li><a href="other.html">Other</a></li>
      <li><a href="images.html">Images</a></li>
      <li><a href="about.html">About</a></li>
		</ul>
	</nav>
</header>

$body$

$partial("templates/footer.html")$

</body>
</html>
