<!DOCTYPE html>
<html>

<head>

$partial("templates/head.html")$
<title>Fania - $title$</title>

</head>

<body>

<header id="header">
	<h1><a href="index.html" class="logo">Fania.uk</a>
    $if(icon)$
      <span class="icon fa-$icon$">&nbsp;&nbsp;&nbsp;$title$</span>
    $else$
    	<span class="icon fa-heart">&nbsp;&nbsp;&nbsp;$title$</span>
    $endif$
	</h1>
	<nav id="nav">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="uni.html">Uni</a></li>
			<li><a href="other.html">Other</a></li>
			<li><a href="images.html">Images</a></li>
			<li><a href="about.html">About</a></li>
		</ul>
	</nav>
</header>

<article id="main">

<header class="special container">
	$if(icon)$
		<span class="icon fa-$icon$"></span>
	$else$
		<span class="icon fa-heart"></span>
	$endif$
	$if(heading)$
		<h2>$heading$</h2>
	$else$
		<h2>Hello</h2>
	$endif$
	$if(byline)$
		<p>$byline$</p>
	$else$
		<p>Wie geht's?</p>
	$endif$
</header>

<section class="wrapper style4 container">

<div class="content">

  $body$

</div>
</section>
</article>

$partial("templates/footer.html")$

</body>

</html>
