<!DOCTYPE html>
<html>

<head>
$partial("templates/head.html")$
<title>Fania - $title$</title>
</head>

<body>

<header id="header">
	<h1><a href="index.html" class="logo">Fania.uk</a>
    $if(icon)$
      <span class="icon fa-$icon$"> $title$</span>
    $else$
    <span class="icon fa-heart"> $title$</span>
    $endif$
	</h1>
	<nav id="nav">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="uni.html">Uni</a></li>
			<li><a href="other.html">Other</a></li>
			<li><a href="images.html">Images</a></li>
			<li><a href="about.html">About</a></li>
		</ul>
	</nav>
</header>

  <article id="main">

  $body$

  $partial("templates/footer.html")$

  </article>
</body>

</html>
